<div class="container">
    <h2>Welcome to Digi Bank</h2>
    <p>Kindly Sign in using your Customer Id and PIN</p>
    <hr />

    <form (ngSubmit)="submit()" #loginForm="ngForm">
        <div class="row py-1">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="customerId">Customer ID</label>
                    <input type="text" id="customerId" name="customerId" [(ngModel)]="credentials.customerId"
                        class="form-control" required>
                </div>
            </div>
        </div>
        <div class="row py-1">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pin">Pin</label>
                    <input type="password" id="pin" name="pin" [(ngModel)]="credentials.pin" class="form-control"
                        required>
                </div>
            </div>
        </div>

        <div class="row py-3">
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</button>
            </div>
        </div>
        <div class="row py-1">
            <a href="/register" class="text-decoration-none text-start">
                <i class="fas fa-user-plus"></i> Create An Account
            </a>
        </div>
        <div class="row py-1">
            <a href="/token" class="text-decoration-none text-start">
                <i class="fas fa-lock"></i> Reset Log In Pin
            </a>
        </div>
    </form>
</div>