<div class="container-fluid">
  <nav class="navbar navbar-expand-md fixed-top navbar-toggleable-sm navbar-light bg-white mb-5"
    style="box-shadow: 0px 4px 4px #123524; border-radius: 10px;">
    <div class="container">
      <a href="/" class="navbar-brand mx-3 px-0"><img style="height:60px;width:160px;" src="{{logo}}" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mr-3 pr-0" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a role="button" class="nav-link btn ml-1" href="/banking/transact">
              <b class="green"><i class="fas fa-money-bill-alt" aria-hidden="true" onclick="closeNavMenu()"></i> Transact</b>
            </a>
          </li>
          <li class="nav-item" *ngIf="authService.isLoggedIn()">
            <a role="button" class="nav-link btn ml-1" href="/profile">
              <b class="green"><i class="fas fa-user"></i> Profile</b>
            </a>
          </li>
          <li class="nav-item" *ngIf="!authService.isLoggedIn()">
            <a role="button" class="nav-link btn ml-1" href="/login">
              <b class="green"><i class="fas fa-sign-in-alt"></i> Log In</b>
            </a>
          </li>

          <li class="nav-item" *ngIf="authService.isLoggedIn()">
            <a role="button" class="nav-link btn ml-1" (click)="logout()">
              <b class="green"><i class="fas fa-sign-out-alt"></i> Log Out</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container body-content my-5 py-5 mx-auto" style="width: 100%;">
    <router-outlet></router-outlet>
  </div>
  <footer class="mt-5 fixed-bottom navbar-light" style="box-shadow: 0px -4px 4px #123524; border-radius: 10px;">
    <div class="container">
      <div class="row justify-content-between green fw-bold align-items-center">
        <div class="col text-start">
          <p>&copy; {{year}} - {{orgName}}</p>
        </div>
        <div class="col text-end">
          <span class="me-3">
            <p class="text-decoration-none green"><i class="fas fa-phone green"></i> {{phone}} &nbsp;&nbsp;<span
                class="me-3"><i class="fas fa-envelope green"></i> {{email}}
              </span></p>
          </span>
        </div>
      </div>
    </div>
  </footer>
</div>